<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30">
<Properties>
<Property name="file001">logs/test.log</Property>
</Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
     <File name="fileAppender" fileName="${file001}" bufferedIO="false" advertiseURI="file://logs/output.log" advertise="true">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
     </File>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger level="error" name="com.creating.www">
    <AppenderRef ref="fileAppender"/>
    </Logger>
  </Loggers>
</Configuration>
